
form{
    display:block;
    margin: auto;
    width: 400px;
    background-color: grey;
    padding: 20px;
    border: 2px solid black;
    border-radius : 10px; 
}
form > input {
    display:block;
    width: 100%;
    min-height: 35px;
    height: 1.9em;
    margin: auto;
    margin-bottom:15px;
    border-radius: 10px;
    text-align: center;
}
form > input[type=submit]{
    width:40%;
    background-color:lightgrey;
}

